server.port: 8081
spring:
  application:
    name: back-end
  datasource:
    url: jdbc:postgresql://localhost:5435/pos_system_db
    username: postgres
    password: momo123
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

  logging:
    level:
      com.example.back_end: DEBUG
      org.springframework.security: DEBUG

  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration: 86400000
